/src/src/main/java/ch/pearcenet/easymenus/testDeletePlox/
src/.gradle/6.1.1/executionHistory/executionHistory.lock
src/.gradle/6.1.1/fileHashes/fileHashes.bin
src/.gradle/6.1.1/fileHashes/fileHashes.lock
